- if @transaction && @transaction.errors.any?
  %ul
    - @transaction.errors.full_messages.each do |msg|
      %li
        = msg

- if current_user
  - if current_user.balance_initialised
    Your current balance is:
    = current_user.balance
    - if current_user.balance.zero?
      %br
      Either the system did not assign you any balance yet, or you ran out...
    - else
      %br
      %br
      = form_for(:transaction, url: transactions_path) do |f|
        = f.text_field :to_user_id, placeholder: "TO USER ID"
        = f.text_field :amount, placeholder: "AMOUNT"
        = f.submit "Send credits"
      %br
      %br
      You can also upload a comma delimited file containing credit transactions you want to send.
      %br
      The format needs to match the following:
      %br
      %code
        to_user_id,amount
        %br
        1,100
        %br
        2,300

      %br
      %br
      = form_for(:transaction, url: csv_transactions_path, multipart: true) do |f|
        = file_field_tag 'csv'
        = f.submit "Upload CSV"

  - if @sent_transactions && @sent_transactions.any?
    %h3 Sent Credit Transactions
    = render partial: 'transactions/transactions', locals: { transactions: @sent_transactions, type: :sent }

  - if @received_transactions && @received_transactions.any?
    %h3 Received Credit Transactions
    = render partial: 'transactions/transactions', locals: { transactions: @received_transactions, type: :received }

  - else
    In order to start testing the system you need the system, you need to get assigned some balance.
    = button_to('Let\'Start!', { action: :create}, { data: { confirm: 'Are you ready to roll?', disable_with: 'YES!' } } )

- else

  CarbonNZ is implementing a new web interface in order to allow registered users to send carbon credit to other registered users. Feel free to register as many users as you wish.

  %br
  %br

  The service is in a very early stage. It has been released to a whitelist set of IP addresses only, in order to get some feedbacks from real users.

  %br
  %br

  The CarbonNZ web developers would like to hear any security concern around possibility to gain extra credit or send any credit from an account to another by abusing any security vulnerability that might exist.

  %br
  %br

  In order to give the CarbonNZ a try, please
  = link_to "Sign-in", new_user_session_path
  or
  = link_to "Sign-up", new_user_registration_path
